---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Andriyani - Full Stack Software Developer">
	<main class="max-w-3xl mx-auto pt-10">
		<p>Hi, my name is</p>
		<h1 class="font-semibold text-6xl my-4">Andriyani</h1>
		<p>
			I'm a Full Stack Software Developer from Bekasi, Indonesia. I'm a highly skilled software development professional bringing more than 5 years in software design, development and integration. Offering advanced knowledge of PHP and TypeScript/Javascript programming languages. Writing code and developing systems for web and mobile applications.
		</p>
	</main>
</Layout>
